In [1]:
import nltk

# nltk.book


  Accessing corpora          nltk.corpus                   Standardized interfaces to corpora and lexicons

In [1]:
#nltk.download()

In [2]:
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [4]:
len(text3) / len(set(text3))

16.050197203298673

16.050197203298673

In [2]:
import nltk.book
dir(nltk.book)

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

['FreqDist',
 'Text',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'genesis',
 'gutenberg',
 'inaugural',
 'nps_chat',
 'print_function',
 'sent1',
 'sent2',
 'sent3',
 'sent4',
 'sent5',
 'sent6',
 'sent7',
 'sent8',
 'sent9',
 'sents',
 'text1',
 'text2',
 'text3',
 'text4',
 'text5',
 'text6',
 'text7',
 'text8',
 'text9',
 'texts',
 'treebank',
 'webtext',
 'wordnet']

## 코퍼스와 동일한 것 확인

In [5]:
nltk.book.webtext == nltk.corpus.webtext

True

In [6]:
nltk.book.genesis == nltk.corpus.genesis

True

In [7]:
nltk.book.inaugural == nltk.corpus.inaugural

True

In [8]:
nltk.book.nps_chat == nltk.corpus.nps_chat

True

In [9]:
nltk.book.treebank == nltk.corpus.treebank

True

In [10]:
nltk.book.webtext == nltk.corpus.webtext

True

In [11]:
nltk.book.wordnet == nltk.corpus.wordnet

True

## 실제 문장에 대한 예시

In [3]:
nltk.book.sent1

['Call', 'me', 'Ishmael', '.']

In [12]:
nltk.book.sent2

['The',
 'family',
 'of',
 'Dashwood',
 'had',
 'long',
 'been',
 'settled',
 'in',
 'Sussex',
 '.']

In [13]:
nltk.book.sent3

['In',
 'the',
 'beginning',
 'God',
 'created',
 'the',
 'heaven',
 'and',
 'the',
 'earth',
 '.']

In [14]:
nltk.book.sent4

['Fellow',
 '-',
 'Citizens',
 'of',
 'the',
 'Senate',
 'and',
 'of',
 'the',
 'House',
 'of',
 'Representatives',
 ':']

In [15]:
nltk.book.sent5

['I',
 'have',
 'a',
 'problem',
 'with',
 'people',
 'PMing',
 'me',
 'to',
 'lol',
 'JOIN']

In [17]:
nltk.book.sent6

['SCENE',
 '1',
 ':',
 '[',
 'wind',
 ']',
 '[',
 'clop',
 'clop',
 'clop',
 ']',
 'KING',
 'ARTHUR',
 ':',
 'Whoa',
 'there',
 '!']

In [18]:
nltk.book.sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [19]:
nltk.book.sent8

['25',
 'SEXY',
 'MALE',
 ',',
 'seeks',
 'attrac',
 'older',
 'single',
 'lady',
 ',',
 'for',
 'discreet',
 'encounters',
 '.']

In [20]:
nltk.book.sent9

['THE',
 'suburb',
 'of',
 'Saffron',
 'Park',
 'lay',
 'on',
 'the',
 'sunset',
 'side',
 'of',
 'London',
 ',',
 'as',
 'red',
 'and',
 'ragged',
 'as',
 'a',
 'cloud',
 'of',
 'sunset',
 '.']

In [22]:
nltk.book.sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [24]:
nltk.book.texts()

text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908